/* Estilos generales */
body {
    background-color: #4b372200;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}
main{
    width: 111px;
    height: 111px;
    
}

.fondo{  
    width: 111px;
    height: 111px;
    overflow: hidden;
    border-radius: 50px;
}

.moon-container {
    padding: 5px;
    width: 100px;
    display: flex;
    position: relative;
}

.only-moon{
    width: 100px;
    height: 100px;
    background-color: rgb(236, 235, 235);
    border-radius: 50px;
    box-shadow: 0px 0px 10px black;
}

.crater{
    width: 10px;
    height: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
    position: relative;
    top: 20px;
    left: 15px;
    box-shadow: 0px 0px 15px black;
}

.crater::before {
    content: ""; /* Necesario para mostrar el pseudo-elemento */
    width: 10px;
    height: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
    position: absolute;
    top: 60px; 
    left: 25px; 
    box-shadow: 0px 0px 15px black;
  }

  .crater::after {
    content: ""; 
    width: 10px;
    height: 10px;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
    position: absolute;
    top: 25px;  
    left: 50px;  
    box-shadow: 0px 0px 15px black;
  }

  .crater-2{
    width: 5px;
    height: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
    position: relative;
    top: 5px;
    left: 50px;
    box-shadow: 0px 0px 15px black;
}

.crater-2::before {
    content: ""; /* Necesario para mostrar el pseudo-elemento */
    width: 5px;
    height: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
    position: absolute;
    top: 35px; 
    left: -25px; 
    box-shadow: 0px 0px 15px black;
  }

  .crater-2::after {
    content: ""; 
    width: 5px;
    height: 5px;
    background-color: rgb(202, 202, 202);
    border-radius: 50px;
    position: absolute;
    top: 55px;  
    left: 30px;  
    box-shadow: 0px 0px 15px black;
  }


/* Sombra de la luna */
.shadow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000; /* Sombra oscura */
    position: absolute;
    animation: shadowCycle 50s infinite linear; /* Ciclo de la sombra de izquierda a derecha */
    clip-path: circle(50% at 50% 50%); /* Inicialmente, la sombra está recortada al tamaño de la luna */
}

/* Animación de la sombra de la luna que se mueve de izquierda a derecha */
@keyframes shadowCycle {
    0% {
        transform: translateX(-110%); /* Sombra al principio en la izquierda */
    }
    50% {
        transform: translateX(0); /* Sombra en el centro, cubriendo la luna */
    }
    100% {
        transform: translateX(110%); /* Sombra a la derecha, fuera de la luna */
    }
}