
        body {
            font-family: 'Poppins', sans-serif;
            margin: 0;
            padding: 0;
            background-color: #d0ccbe;
            text-align: center;
        }

        header {
            text-transform: uppercase;
            background-color: #a08c77;
            /* background: linear-gradient(to right, #743e05cc, #f5b674d1); */
            color: white;
            padding: 1em 0;
        }

        .info {
            /* background: #ccb89ab7; */
            background-color: #b38d76;

            padding: 15px;
            margin: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            text-align: left;
        }

        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
            padding: 20px;
        }
        .product {
            background: white;
            padding: 15px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 250px;
            text-align: left;
            transition: transform 0.3s;
        }
        .product:hover {
            transform: scale(1.05);
        }
        .product img {
            width: 100%;
            border-radius: 10px;
        }
        .product h3 {
            font-size: 1.2em;
            margin: 10px 0;
        }
        .product p {
            margin: 5px 0;
        }
        .btn {
            display: inline-block;
            margin-top: 10px;
            padding: 10px;
            background-color: #333;
            color: white;
            text-decoration: none;
            border-radius: 5px;
            cursor: pointer;
        }
        .btn:hover {
            background-color: #555;
        }
        .checkbox-group {
            display: flex;
            gap: 10px;
            margin: 10px 0;
            flex-wrap: wrap;
        }
        input[type="checkbox"]:disabled + label {
            text-decoration: line-through;
            color: gray;
            cursor: not-allowed;
        }


