/* Estilos generales */
body {
    background-color: #4b372200;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.moon-container {
    width: 130px;
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.moon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #f0f0f0; /* Fase inicial: Luna Llena */
    -webkit-text-fill-color: transparent;
}

/* Sombra de la luna */
.shadow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #4b3722; /* Sombra oscura */
    position: absolute;
    animation: shadowCycle 20s infinite linear; /* Ciclo de la sombra de izquierda a derecha */
    clip-path: circle(50% at 50% 50%); /* Inicialmente, la sombra está recortada al tamaño de la luna */
}

/* Animación de la sombra de la luna que se mueve de izquierda a derecha */
@keyframes shadowCycle {
    0% {
        transform: translateX(-110%); /* Sombra al principio en la izquierda */
    }
    50% {
        transform: translateX(0); /* Sombra en el centro, cubriendo la luna */
    }
    100% {
        transform: translateX(110%); /* Sombra a la derecha, fuera de la luna */
    }
}
