/* font */

.courier-prime-regular {
    font-family: "Courier Prime", monospace;
    font-weight: 400;
    font-style: normal;
    color: #2c1e0fd1;
}

.courier-prime-bold {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: normal;
    color: #2c1e0fd1;
    size: 120px;
}

.courier-prime-regular-italic {
    font-family: "Courier Prime", monospace;
    font-style: italic;
    color: #2c1e0fd1;
}
  
.courier-prime-bold-italic {
    font-family: "Courier Prime", monospace;
    font-weight: 700;
    font-style: italic;
    color: #2c1e0fd1;
}

a:hover{
    color: white;
}

a{    
    color: #2c1e0fd1;
    text-decoration: none;
}

/* html */
html{
    padding: 0;
    margin: 0;
}

body{
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

/* header */
header{
    width: 100%;
    background-color: #4b3722d1;
    display: flex;
}
header nav{
    display: flex;
    min-width: -webkit-fill-available;
    position: relative;
    justify-content: space-between;
}

header img{
    padding: 0 .5rem;
    width: 80px;
    border-radius: 50%;

}
header .img-img{
    margin: .5rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.168);
    border-radius: 50%;
}

header h1{
    width: -webkit-fill-available;
    text-align: center;
    align-content: center;
    text-align-last: left;
}


header section{
    align-content: center;
    text-align: center;
    align-items: center;
    display: flex;
}

header a{
    padding: 0 10px;
    font-size: 25px;    
}
.div-servicios{
    text-align: center;
}
.ver-servicios{
    color: #2c1e0fd1;
    background-color: white;
    border: .2em solid #2c1e0fd1;
    padding: 7px;
    border-radius: 40px;
}
.ver-servicios:hover{
    size: 1.5rem;
    color: #2c1e0fd1;
    padding: 10px;
}
/* main section */

.main-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / .80), rgb(0 0 0 / .5)), url(img/fondospa.jpg);
    color: aliceblue;
    height: -webkit-fill-available;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 325px;
}
.main-principal p{
    font-size: large;
}


.main-div{
    width: 70%;
    height: auto;
    text-align: center;
}

/* servicios */

.main-servicios{
    display: inline-flex;
    justify-content: center;
    padding-bottom: 20px;
    flex-flow:row wrap;
}

.div-servicios{
    height: 40px;
}

.servicios{
    display: flex;
    width: 90%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.servicios div{
    margin: 10px 30px;
    justify-items: center;
    background-position: center;
}

.servicios h3{
    text-transform:uppercase;
}

.servicios div .imagen{
    width: 200px;
    height: 200px;
    border-radius: 35px 15px;
    background-repeat: no-repeat;
    background-size: cover;

}

.servicios div .imagen:hover{
    opacity: 0.5;
    border-radius: 5px 5px;
}

/* footer */

footer{
    width: 100%;
    background-color: #4b3722d1;
    display: flex;
}

footer section{
    display: flex;
    min-width: -webkit-fill-available;
    position: relative;
}

footer section div{
    width: -webkit-fill-available;
}

.footer-rigth{
    text-align: right;
    padding-right: 30px;
    
}

.footer-center{
    align-content: center;
    text-align:center;
    
}

.footer-left{
    padding-left: 30px;
}

.contacto{
    background: #936d44d1;
    height: 150px;
    color: white;   
}

@media (max-width:768px) {
    .servicios {
        display: inline-block;
    }
    header nav{
        display: inline-block;
    }
    header section{
        width: auto;
        text-align: -webkit-rigth;
    }

}