/* html */
html{
    padding: 0;
    margin: 0;
}

body{
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

/* header */
header{
    width: 100%;
    background-color: #4b3722d1;
    display: flex;
}

header nav{
    display: flex;
    min-width: -webkit-fill-available;
    position: relative;
    justify-content: space-between;
}

#img-img{
    margin: 1rem 1.5rem;
    background-color: rgba(0, 0, 0, 0.168);
    border-radius: 60%;
}

header img{
    padding: 0 .5rem;
    width: 90px;
    border-radius: 100%;
}

header a{
    padding: 0 10px;
    font-size: 25px;    
}

header a:hover{
    color: white;
}

header a{    
    color: #2c1e0fd1;
    text-decoration: none;
}

/* main section */

.main-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / .80), rgb(0 0 0 / .5)), url(img/fondospa.jpg);
    color: aliceblue;
    height: -webkit-fill-available;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 325px;
}

.main-principal p{
    font-size: large;
}


.main-div{
    width: 60%;
    height: auto;
    text-align: center;
}

/* servicios */

.main-servicios{
    display: inline-flex;
    justify-content: center;
    padding-bottom: 20px;
    flex-flow:row wrap;
}

.servicios{
    display: flex;
    width: 90%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


.servicios div{
    margin: 10px 30px;
    justify-items: center;
    background-position: center;
}

.servicios h3{
    text-transform:uppercase;
    max-width: 220px;
}

.servicios div a{
    text-align: -webkit-center;
}

.imagen{
    width: 200px;
    height: 200px;
    border-radius: 35px 15px;
    background-repeat: no-repeat;
    background-size: cover;

}

.imagen:hover{
    opacity: 0.5;
    border-radius: 5px 5px;
}
/* contactos */


.contacto{
    background: #936d44d1;
    height: 150px;
    color: white;   
}

.contacto h2{
    text-align: center;
    padding-top: 20px;
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contacto-izquierdo {
    text-align: right;
    width: 50%;
}

.contacto div div p{
    margin-right: 10px;
}

.contacto-center{
    align-content: center;
    text-align:center;
    
}

/* footer */
footer{
    width: 100%;
    background-color: #4b3722d1;
}

footer section{
    display: flex;
    min-width: -webkit-fill-available;
    position: relative;
}


.footer-rigth{
    text-align: right;
    padding-right: 30px;
    
}

.footer-left{
    padding-left: 30px;
}


@media (max-width:768px) {
    .servicios {
        display: inline-block;
    }

    header section{
        width: auto;
        text-align: -webkit-rigth;
    }

}
