
    .promocion5::before {
        content: '5% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion10::before {
        content: '10% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion15::before {
        content: '15% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion20::before {
        content: '20% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion25::before {
        content: '25% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion30::before {
        content: '30% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion35::before {
        content: '35% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion40::before {
        content: '40% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion45::before {
        content: '45% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }
    .promocion50::before {
        content: '50% de descuento';
        background-color: #ff4d4d;
        color: white;
        padding: 5px;
        border-radius: 5px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 0.9em;
        font-weight: bold;
        z-index: 1;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    }

.product {
    position: relative;
}