/* html */
html{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(212, 212, 212);
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

/* header */
header{
    width: 100%;
    height: 100px;
    background: linear-gradient(to right, #743e05cc, #f5b674d1);
    background-color: #cea579;
    display: flex;
}

header nav{    
    display: flex;
    min-width: -webkit-fill-available;
    position: relative;
    justify-content: space-around;
    align-items: center;
}

#img-img{
    border-radius: 50%;
}

header img{
    /* padding: 0 .5rem; */
    width: 90px;
    border-radius: 50%;
}

header a{
    font-size: 25px;    
    color: rgb(77, 42, 0);
    text-decoration: none;
}

header a:hover{
    text-shadow: 3px 1px 20px black;
}

/* main section */

main h2{
    
    color: #8b7400;
    text-align: center;
    padding-top: 30px;
    padding: 0 15px;
}

.main-principal{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to bottom, rgb(0 0 0 / .80), rgb(0 0 0 / .5)), url(img/fondospa.jpg);
    color: aliceblue;
    height: -webkit-fill-available;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: auto;
    height: 325px;
}

.main-principal p{
    font-size: large;
}


.main-div{
    width: 60%;
    height: auto;
    text-align: center;
}

/* servicios */
.main-servicios{
    display: inline-flex;
    justify-content: center;
    padding-bottom: 20px;
    flex-flow:row wrap;
}

.servicios{
    display: flex;
    width: 90%;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.servicios div{
    margin: 10px 30px;
    justify-items: center;
    background-position: center;
}

.servicios h3{
    text-transform:uppercase;
    max-width: 220px;
}

.servicios div a{
    text-align: -webkit-center;
}

.imagen{
    width: 200px;
    height: 200px;
    border-radius: 35px 15px;
    background-repeat: no-repeat;
    background-size: cover;

}

.imagen:hover{
    opacity: 0.5;
    border-radius: 5px 5px;
}

/* contactos */
.contacto{
    background: #af8252d1;
    height: 280px;
    color: white;
}

.contacto h2{
    text-align: center;
    padding-top: 20px;
    color:white;
    margin-top: 0px;
    margin-bottom: 0px;
}

.contacto-texto {
    width: 50%;
    text-align: -webkit-center;
}

.contacto-texto p{
    width: 75%;
    padding: 10px 5%;
    text-align: justify;
}

.contacto-ancle{
    width: 50%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.contacto-ancle a{
    margin: 5%;
    color: white;
    text-decoration: none;
    padding: 1rem;
    border-radius: 6px;
    background-color: #2c1e0fd1;
    display: inline-block;
    transition: color 0.3s, background-color 0.3s, transform 0.3s;
}

.contacto-ancle a:hover{
    border-radius: 50%;
    opacity: .8;
}

/* footer */
footer{
    width: 100%;
    background: linear-gradient(to right, #743e05cc, #f5b674d1);
}

footer section{
    display: flex;
    min-width: -webkit-fill-available;
    position: relative;
}


.footer-rigth{
    width: 50%;
    text-align: right;
    padding-right: 30px;
}

.footer-left{
    width: 50%;
    padding-left: 30px;
}

@media (max-width:768px) {
    h1{
        text-align: center;
    }
    .main-servicios{
        display: flex;
        justify-content: center;
    }
    .main-principal p{
        text-align: justify;
        font-size: small;
    }
    .title-dos{
        text-align: center;
    }
    .servicios {
        display: inline-block;
    }
    .servicios div{
        text-align: -webkit-center;
    }

    header section{
        width: auto;
        text-align: -webkit-rigth;
    }

    .contacto{        
        display: flex;
        height: 550px;
        flex-direction: column;
        justify-content: center;
    }
    .contacto-texto{
        width: 90%;
    }

    .contacto div{
        flex-direction: column;
        align-items: center;
    }

    .contacto-ancle{
        display: block;
    }

    .contacto-ancle a{
        
        width: 25px;
    }

}


/*  */
/* Estilos generales */

.fondo{  
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50px;
}

.moon-container {
    width: 100px;
    display: flex;
    position: relative;
}

.only-moon{
    width: 100px;
    height: 100px;
    background-color: rgb(249, 238, 176);
    border-radius: 50px;
    box-shadow: 0px 0px 10px black;
}

.crater{
    width: 10px;
    height: 10px;
    background-color: rgb(194, 186, 142);
    border-radius: 50px;
    position: relative;
    top: 20px;
    left: 15px;
    box-shadow: 0px 0px 15px black;
    border: 1px solid rgba(197, 195, 195, 0.199);
}

.crater::before {
    content: ""; /* Necesario para mostrar el pseudo-elemento */
    width: 10px;
    height: 10px;
    background-color: rgb(194, 186, 142);
    border-radius: 50px;
    position: absolute;
    top: 60px; 
    left: 25px; 
    box-shadow: 0px 0px 15px black;
    border: 1px solid rgba(197, 195, 195, 0.199);
  }

  .crater::after {
    content: ""; 
    width: 10px;
    height: 10px;
    background-color: rgb(194, 186, 142);
    border-radius: 50px;
    position: absolute;
    top: 20px;  
    left: 50px;  
    box-shadow: 0px 0px 15px black;
    border: 1px solid rgba(197, 195, 195, 0.199);
  }

  .crater-2{
    width: 5px;
    height: 5px;
    background-color: rgb(194, 186, 142);
    border-radius: 50px;
    position: relative;
    top: 0px;
    left: 50px;
    box-shadow: 0px 0px 15px black;
    border: 1px solid rgba(197, 195, 195, 0.199);
}

.crater-2::before {
    content: ""; /* Necesario para mostrar el pseudo-elemento */
    width: 5px;
    height: 5px;
    background-color: rgb(194, 186, 142);
    border-radius: 50px;
    position: absolute;
    top: 50px; 
    left: -50px; 
    box-shadow: 0px 0px 15px black;
    border: 1px solid rgba(197, 195, 195, 0.199);
  }

  .crater-2::after {
    content: ""; 
    width: 5px;
    height: 5px;
    background-color: rgb(194, 186, 142);
    border-radius: 50px;
    position: absolute;
    top: 55px;  
    left: 30px;  
    box-shadow: 0px 0px 15px black;
    border: 1px solid rgba(109, 108, 108, 0.043);
  }


/* Sombra de la luna */
.shadow {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #000000c9; /* Sombra oscura */
    position: absolute;
    animation: shadowCycle 20s infinite linear; /* Ciclo de la sombra de izquierda a derecha */
    clip-path: circle(50% at 50% 50%); /* Inicialmente, la sombra está recortada al tamaño de la luna */
}

/* Animación de la sombra de la luna que se mueve de izquierda a derecha */
@keyframes shadowCycle {
    0% {
        transform: translateX(-110%); /* Sombra al principio en la izquierda */
    }
    50% {
        transform: translateX(0); /* Sombra en el centro, cubriendo la luna */
    }
    100% {
        transform: translateX(110%); /* Sombra a la derecha, fuera de la luna */
    }
}